export(calc.weights, sgf)
S3method(summary,Yweights)
import(CICI)
importFrom(parallel, detectCores)
importFrom(parallel, makeCluster)
importFrom(parallel, stopCluster)
importFrom(doParallel, registerDoParallel)
importFrom(foreach, foreach)
importFrom(foreach, registerDoSEQ)
importFrom(foreach, "%do%")
importFrom(foreach, "%dopar%")
importFrom(foreach, "%:%")
importFrom(doRNG, "%dorng%")
importFrom(rngtools, RNGseq)
importFrom(rngtools, setRNG)
importFrom(mgcv, gam)
importFrom(SuperLearner, SuperLearner)
importFrom(SuperLearner, predict.SuperLearner)
importFrom(SuperLearner, SL.glm)
importFrom(SuperLearner, predict.SL.glm)
importFrom("stats", "as.formula", "dbinom", "dnorm", "dpois",
             "na.omit", "predict", "quantile", "weighted.mean")

